<ion-view class="category-polls-view">
    <ion-nav-title>
        <span>Delegate Panel [Delegate]</span>
    </ion-nav-title>
    <ion-content>
        <div class="card register-delegate row">
            <div ng-if="isDelegate" class="register-delegate">
                <h1>Hi {{delegateName}}, you're a delegate.</h1>
            </div>
            <div ng-if="!isDelegate" class="register-delegate">
                <h1>Be a delegate</h1>
                <form class="register-delegate" name="form" ng-submit="registerAsDelegate(delegateName)" novalidate="">
                    <fieldset>
                        <input type="text" id="name" ng-model="delegateName" placeholder="Delegate name" />
                        <br>
                        <input class="button" type="submit" value="Register as delegate" />
                    </fieldset>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
